@{
  ViewData["Title"] = "CSV Importer Page";
}

<div class="input-box">
    <form>
        <h3>CSV Importer</h3>
        <select>
            <option>Users</option>
            <option>Requests</option>
            <option>Datasets</option>
            <option>Approvals</option>
        </select>
    </form>
</div>