@{
  ViewData["Title"] = "Role Management";
}

<div class="input-box">
    <table>
        <thead>
            <tr>
                <th>UserID</th>
                <th>Name</th>
                <th>Email</th>
                <th colspan="3">Roles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Luke Boothby</td>
                <td>luke@luke.com</td>
                <td>
                    <form>
                        <input type="checkbox" />
                        <input type="checkbox" />
                        <input type="checkbox" />
                        <button type="submit">Submit Changes</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>