@{
  ViewData["Title"] = "Role Management";
}

<div class="input-box">
    <table>
        <thead>
            <tr>
                <th>UserID</th>
                <th>Name</th>
                <th>Email</th>
                <th colspan="3">Roles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form>
                        <input id="admin" type="checkbox" />
                        <label for="admin">admin</label>

                        <input id="approver" type="checkbox" />
                        <label for="approver">approver</label>

                        <input id="user" type="checkbox" />
                        <label for="user">user</label>

                        <button type="submit">Submit Changes</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>