@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <br />
    <div class="login-container">
        <form>
            <h1 class="display-4" style="text-align:center;">Login</h1>
            <input class="input-box" type="text" placeholder="Username"/>
            <input class="input-box" type ="password" placeholder="Password" />
            <button class="input-button" type="submit">Login</button>
        </form>
    </div>
</div>
