:root {
    --nav-colour: #005EB8;
    --nav-colour-hover: #0072CE;
    --white-text: #FFFFFF;
    --button: #00703C;
    --button-hover: #006747;
    --nhs-black: #231F20;
    --text-border: black;
    --shadow: #999999;
    --background-colour: #E8EDEE;
}

