:root {
  --primary-blue: #005EB8;
  --secondary-blue: #0072CE;
  --focus-blue: #258cfb;
  --button-green: #006747;
  --button-hover-green: #78BE20;

  --light-grey: #E8EDEE;
  --medium-grey: #999999;

  --white: #FFFFFF;
  --black: #000000;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem var(--white), 0 0 0 0.25rem var(--focus-blue);
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-container{
  background-color: var(--primary-blue);
}

.login-container{
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--light-grey);
}

.input-box{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 22px);
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid var(--white);
  border-radius: 4px;
}

.input-button{
  display: block;
  margin: auto;
  width: 100%;
  padding: 10px;
  background-color: var(--button-green);
  color: var(--white);
  border: none;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.4s, background-color 0.4s;
}

.input-button:hover{
  display: block;
  margin: auto;
  width: 100%;
  padding: 10px;
  background-color: var(--button-hover-green);
  color: var(--white);
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 3px var(--medium-grey);
  transition: box-shadow 0.2s, background-color 0.2s;
}

select{
  -webkit-border-radius: 0;
  background-color: var(--primary-blue);
  background-position: center right;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border: none;
  color: var(--white);
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-container{
  background-color: var(--primary-blue);
}

.navbar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link{
  display: block;
  color: var(--white);
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-header{
  display: block;
  color: var(--white);
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--secondary-blue);
  color: var(--white);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

nav {
  background-color: var(--primary-blue);
  color: var(--white) !important;
}

.table-container{
  margin: 25px 3em; 
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  overflow: hidden;
}

thead tr{
  background-color: var(--light-grey);
  color: var(--black);
  text-align: left; 
}

th, td {
  padding: 12px 15px;
}

tbody tr:nth-of-type(even) {
  background-color: var(--light-grey);
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-blue);
}

thead tr:last-of-type {
  border-bottom: 2px solid var(--primary-blue);
}