@model List<Request>

@{
    ViewData["Title"] = "Approve Requests Page";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<div class="text-center">
    <br />
    <div class="table-container">
        <h1>Approve Requests</h1>
        <table>
            <thead>
                <tr>
                    <th>Document Requested</th>
                    <th>User</th>
                    <th>Date Requested</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <asp:Content id="Content1" contentplaceholderid="TableBody" runat="server">
                <% foreach (var item in Model) { %>

                <tr>
                    <td><%= Html.Encode(item.Dataset)%></td>
                    <td><%= Html.Encode(item.User)%></td>
                    <td><%= Html.Encode(item.DateTime)%></td>
                    <td><button class="input-button">Approve</button></td>
                    <td><button class="input-button">Deny</button></td>
                </tr>

                </%>}
                
                </asp:Content>
            </tbody>
        </table>
        <div class="pagination">
            <a>Previous</a>
            <strong>1</strong>
            <a>Next</a>
        </div>
    </div>
</div>