@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <br />
  <div class="login-container">
    <h1>Home</h1>
    <ul>
      @foreach (var user in Model)
      {
      <li>
        @user.Forename
      </li>
      }
    </ul>
  </div>
</div>
