@model List<Dataset>

@{
  ViewData["Title"] = "Request Document Page";
}

<div class="text-center">
  <br />
  <div class="login-container">
    <h1>Request Document</h1>
    <form asp-action="Request Dataset" method="post">
      <h3>Select Document</h3>
      <select >
        <asp:Content id="Content1" contentplaceholderid="SelectDropdown" runat="server">
          <% foreach (var item in documents){ %>
            <option value="Html.Encode(item.Id)">Html.Encode(item.Title)</option>
          </%>}
        </asp:Content>
      </select>
      <h3>Access Type</h3>
      <input type="radio" id="sensitive" name="documenttype" />
      <label for="sensitive">sensitive</label>
      <br />
      <br />
      <input type="radio" id="non-sensitive" name="documenttype" />
      <label for="non-sensitive">non-sensitive</label>
      <h3 style="margin-top: 2em;">Purpose</h3>
      <textarea rows="4" cols="41"></textarea>
      <button class="input-button" type="submit" style="margin-top: 2em;">Request Document</button>
    </form>
  </div>
</div>