html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.footer-container{
  background-color: #005EB8;
}



.login-container{
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #E8EDEE ;
}

.input-box{
  display:  block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 22px);
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.input-button{
  display:  block;
  margin: auto;
  width: 100%;
  padding: 10px;
  background-color: #005EB8;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

 .input-button:hover{
  display:  block;
  margin: auto;
  width: 100%;
  padding: 10px;
  background-color: #0072CE;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 3px #999999;
  transition: box-shadow 0.2s, background-color 0.2s;
}

.navbar-container{
  background-color:#005EB8;
}

.navbar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-header{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-link:hover {
  background-color:white;
  color:black;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

nav {
  background-color: #005EB8;
  color: #FFFFFF !important;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr{
  background-color: grey;
  color: #ffffff;
  text-align: left; 
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid blueviolet;
}